@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(199, 238, 243);
}

header {
    background-color: rgb(29, 76, 206);
    width: 100%;
    height: auto;
    text-align: center;
}

.titulo {
    font-size: 45px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

nav.menu {
    background-color: rgb(29, 76, 206);
    color: #fff;
    padding: 10px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.contenidomenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    position: relative;
}

.menutexto {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
}

.menutexto:hover {
    background-color: #25408b;
    color: #000;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #396bb8;
    padding: 0;
    list-style-type: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1;
}

.menudesplegable:hover .submenu {
    display: block;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.subitem {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.subitem:hover {
    background-color: #1b53bb;
    color: #000000;
}

.btnmenu {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
}

.btnmenu:hover {
    background-color: #0056b3;
}

.form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.buscador {
    padding: 8px;
    font-size: 14px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 20px;
}

.tabla {
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin: 20px 0; /* Margen superior e inferior */
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 70px; /* Agrega margen a la izquierda */
    margin-right: 70px;
    text-align: center;
}

.tabla th, .tabla td {
    border: 2px solid #000; /* Borde fino alrededor de celdas */
    padding: 12px; /* Relleno en las celdas */
    text-align: center; /* Alinea el texto a la izquierda */
}

.tabla th {
    background-color: #55a4ee; /* Fondo verde para los encabezados */
    color: #ffffff; 
    letter-spacing: 3px;
}

.tabla tr:nth-child(even) {
    background-color: #ddd; /* Fondo gris claro en las filas pares */
}

.tabla tr:hover {
    background-color: #ccc; /* Cambia el fondo cuando se pasa el ratón por encima */
}

.tabla td {
    font-size: 20px; /* Tamaño del texto en las celdas */
    color: #222; /* Color del texto en las celdas */
}

footer {
    position: fixed; /* Fija el footer al fondo */
    bottom: 0; /* Lo mantiene pegado al fondo */
    width: 100%; /* Ocupa todo el ancho de la página */
    background-color:  rgb(29, 76, 206);;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 50px 0 0 0;
}

/* Contenedor de botones dentro del footer */
.izquierda {
    display: flex;
    flex-direction: row; /* Alinea los botones horizontalmente */
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    background-color: transparent;
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    border-radius: 50px 10px 5px 20px;
}

.btnder {
    background-color: #2a28a7;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 25px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    cursor: pointer;
    width: 250px; /* Botones ocupan todo el ancho disponible */
    border-radius: 20px;
    margin: 0 10px; 

}

.btnder:hover {
    background-color: #3546df;
}

.logo {
    max-width: 250px;
    margin-bottom: 20px;
}